<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="base64:nmqymz21RvGe59KzJSTqECYAo2rTM0tbZ3DuniuMKjM="/>
    </php>
</phpunit>